@media (max-width: 770px) {
  body {
    background: url('../assets/images/background-mobile.png');
    background-size: cover;
  }

  .overlay-1,
  .overlay-2,
  .overlay-4,
  .overlay-5 {
    display: none;
  }

  /* Campo do formulário */
  .container {
    width: 90%;
    padding: 10px;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .section-title {
    font-size: 16px;
  }

  .upload-instructions {
    font-size: 16px;
  }

  .upload-area {
    height: 120px;
  }

  .ticket-intro p{
    width: 70%;
    font-size: 1.2rem;
  }

  .input-group {
    font-size: 16px;
  }

  .input-group input::placeholder {
    font-size: 13px;
  }

  .generate-button {
    padding: 12px;
    font-size: 0.8rem;
  }

  .ticket {
    max-width: 90%;
  }

}

@media (max-width: 432px) {
  body {
    background: url('../assets/images/background-mobile.png');
    background-size: cover;
  }

  .overlay-1,
  .overlay-2,
  .overlay-4,
  .overlay-5 {
    display: none;
  }

  /* Campo do formulário */
  .container {
    width: 90%;
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .section-title {
    font-size: 16px;
  }

  .upload-instructions {
    font-size: 16px;
  }

  .upload-area {
    height: 120px;
  }

  /* Ticket */

.ticket-intro h1{
    font-size: 1.5rem;
  }

  .ticket-intro p{
    width: 80%;
    font-size: 0.9rem;
  }

  .user-avatar {
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 0.75rem;
  }

  .user-info {
    bottom: 3rem;
    left: calc(0.75rem + 3rem);
  }

  .user-name {
    font-size: 0.8rem;
  }
  
  .user-github {
    font-size: 0.65rem;
  }

  .event-info {
    font-size: 0.6rem;
  }

  .ticket-number {
    font-size: 1.2rem;
    right: 21%;
    top: 42.5%;
  }

  .input-group {
    font-size: 16px;
  }

  .input-group input::placeholder {
    font-size: 13px;
  }

  .generate-button {
    padding: 12px;
    font-size: 0.8rem;
  }

  .ticket {
    max-width: 90%;
  }

}