@media (max-width: 749px) {
    body {
      background: url('../assets/images/background-mobile.png');
      background-size: cover;
      padding: 20px 0;
    }
  
    .overlay-1,
    .overlay-2,
    .overlay-4,
    .overlay-5 {
      display: none;
    }
  
    .container {
      width: 90%;
      padding: 10px;
    }
  
    .header-title {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  
    .header-subtitle {
      font-size: 0.9rem;
      margin-top: 1rem;
    }
  
    .upload-title {
      font-size: 16px;
    }
  
    .upload-text {
      font-size: 16px;
    }
  
    .upload-box {
      height: 120px;
    }
  
    .form-group {
      font-size: 16px;
    }
  
    .form-input::placeholder {
      font-size: 13px;
    }
  
    .submit-btn {
      padding: 12px;
      font-size: 0.8rem;
    }
  
    .ticket {
      max-width: 90%;
    }
  
    .event-date-location {
      font-size: 1rem;
      top: 12%;
      left: 10%;
    }
  
    .ticket-user-info {
      top: 55%;
    }
  
    .ticket-avatar {
      width: 80px;
      height: 80px;
    }
  
    .user-fullname {
      font-size: 0.9rem;
    }
  
    .user-github {
      font-size: 0.8rem;
    }
  
    .ticket-code {
      font-size: 1.2rem;
      right: 3%;
    }
  
    .preview-image {
      width: 60px;
      height: 60px;
    }
  }